.nav-main > main > div {
	flex: none;
}

main {
	color: var(--text-color);
	padding: 1rem;
}

#loading-window {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#loading-window h2 {
	font-size: clamp(1rem, 5vw, 2rem);
	font-weight: 500;
	text-align: center;
}

#list-window {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.action-bar {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	
	padding: .5rem;
	border-radius: 4px;
	background-color: var(--tool-bar-color);
	color: var(--light-color);
}

.action-divider {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.action-bar button {
	min-width: 5rem;
	
	border: 2px solid var(--border-color);
	border-radius: 4px;
	padding: .4rem .5rem;
	color: var(--text-color);
	background-color: var(--library-entry-color);

	transition: background-color 100ms linear;
}

.action-bar button:hover {
	background-color: var(--dark-hover-color);
}

.option-container {
	overflow: hidden;
	border-radius: 4px;
	border: 2px solid var(--border-color);
	background-color: var(--library-entry-color);
}

.option-container button {
	border-radius: none;
	border: none;
}

.option-container select {
	height: 100%;
	background-color: var(--library-entry-color);
	color: var(--text-color);
}

.list-container {
	position: relative;

	width: 100%;
	overflow-x: auto;

	padding-top: 1rem;
}

table {
	width: max(100%, 30rem);
	border-spacing: 0px;
}

th {
	text-align: left;
}

th,
td {
	padding: .5rem;
	border-bottom: 1px solid var(--nav-color);
}

th:first-child,
td:first-child {
	width: 3rem;
	padding-inline: 1rem;
}

tbody > tr {
	transition: background-color 150ms ease-in-out;
}

tbody > tr:hover {
	background-color: var(--dark-hover-color);
}

@media (max-width: 820px) {
	.action-bar {
		justify-content: center;
	}
	.action-divider {
		width: 100%;
	}
	.option-container {
		flex: 1 1 auto;
	}
	.action-bar button {
		flex: 1 1 0;
	}
}
