main {
    position: relative;
}

#empty-window {
    position: absolute;
    inset: 0 0 0 0;
    background-color: var(--background-color);
}

main:has(#queue tr) #empty-window,
main:not(:has(#queue tr)) .tool-bar-container {
    display: none;
}

table {
	width: 100%;
	min-width: 50rem;
	padding: 1rem;
	color: var(--text-color);
}

th, td {
	padding: .5rem;
}

.queue-entry > * {
	border-top: 1px solid var(--border-color);
}

.status-column {
	width: clamp(7.5rem, 11vw, 10rem);
}

.number-column {
	width: 6.5rem;
}

.option-column {
	width: 4.5rem;
}

.option-column button:nth-of-type(2) {
    margin-left: .5rem;
}

.option-column button img {
	width: 20px;
}

@media (min-width: 720px) {
    main {
        width: calc(100vw - var(--nav-width));
    }
}