.settings-container {
	overflow-x: auto;
	color: var(--text-color);
	padding: 1rem;
}

.settings-container a {
	color: var(--accent-color);
}

/*  */
/* Sections titles */
/*  */
main h2 {
	font-size: 1.5rem;
	border-bottom: 1px solid var(--border-color);
	margin-bottom: 1rem;
	font-weight: 500;
}

main h2:not(:first-of-type) {
	margin-top: 1rem;
}

/*  */
/* Setting tables */
/*  */
.settings-container table {
	width: 100%;
	border-spacing: 0px;
}

.settings-container table tr > * {
	padding: .5rem;
}

.settings-container table tr > th {
	width: clamp(9rem, 24vw, 14rem);
	text-align: right;
	vertical-align: top;
	padding-top: 1.1rem;
}

.settings-container table tr > td select,
.settings-container table tr > td input[type="text"],
.settings-container table tr > td input[type="email"],
.settings-container table tr > td input[type="password"] {
	width: min(50rem, 100%);

	padding: .5rem .75rem;
	border-radius: 6px;
	border: 2px solid var(--border-color);
	background-color: var(--background-color);
	color: var(--text-color);

	font-size: 1rem;
	font-family: "Ubuntu Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
}

.settings-container table tr > td input[type="checkbox"] {
	width: 1.15rem;
	aspect-ratio: 1/1;
}

.settings-container table tr > td p {
	margin-top: .3rem;
	color: var(--dimmed-text-color);
}

/*  */
/* Short table (preference lists) */
/*  */
.settings-container .short-table {
	width: unset;
}

.settings-container .short-table tr > th {
	width: 3rem;
	vertical-align: middle;
	padding-top: .5rem;
}

/*  */
/* Converting list */
/*  */
#convert-table button {
	width: 2rem;
	padding: 0;
	background-color: transparent;
}

#convert-table button img {
	width: 2rem;
}

#convert-table tr:nth-last-child(2) td p {
	padding: .5rem .75rem;
	border-radius: 6px;
	border: 2px solid var(--border-color);
	background-color: var(--inverted-text-color);
	color: var(--text-color);
	font-size: 1rem;
	font-family: "Ubuntu Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
}

#convert-table #add-convert-button img {
	width: 1.5rem;
	transform: rotate(45deg);
}

/*  */
/* Root folder list */
/*  */
#root-folder-container {
	overflow-x: auto;
}

#root-folder-table {
	min-width: 27rem;
	border-spacing: 0px;
}

#root-folder-table th {
	text-align: left;
	padding-top: 0rem;
	width: unset;
}

#root-folder-list > tr > * {
	border-top: 1px solid var(--border-color);
}

.action-column {
	width: 4.5rem;
}

.action-column button {
	background-color: transparent;
	padding: 0;
}

.action-column img {
	width: 1.4rem;
}

#toggle-root-folder,
#empty-download-folder {
	margin-top: .5rem;
	min-width: 5rem;

	padding: .8rem;
	border-radius: 4px;
	color: var(--dark-color);
	background-color: var(--accent-color);
	
	font-weight: 600;
}

#add-row td {
	padding-block: 0;
}

#add-row input,
#add-row select {
	width: 20rem;

	padding-inline: .3rem;
}

#add-row button {
	padding: .4rem .6rem;
	border-radius: 4px;
	color: var(--dark-color);
	background-color: var(--accent-color);
}

/*  */
/* Credentials list */
/*  */
#cred-container {
	margin-top: 1rem;
	overflow-x: auto;
}

#cred-table {
	min-width: 33rem;
	border-spacing: 0px;
}

#cred-table th {
	text-align: left;
	padding-top: 0rem;
	width: unset;
}

#cred-list > tr > * {
	border-top: 1px solid var(--border-color);
}

#cred-table #add-row select,
#cred-table #add-row input {
	width: min(100%, 20rem);
}

#toggle-cred {
	margin-top: .5rem;

	padding: .8rem;
	border-radius: 4px;
	color: var(--dark-color);
	background-color: var(--accent-color);
	
	font-weight: 600;
}

/*  */
/* Api key bar */
/*  */
#api-container {
	display: flex;
	width: min(50rem, 100%);
}

#api-input {
	overflow-x: auto;
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#generate-api {
	width: 3rem;
	
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;

	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: var(--error-color);
}

#generate-api img {
	height: 1.2rem;
}

/*  */
/* Download Client List */
/*  */
.client-list {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.client-list > button {
	position: relative;
	width: 15rem;
	height: 6rem;

	border-radius: 6px;
	padding-inline: 1rem;
	background-color: var(--library-entry-color);
	color: var(--library-entry-font-color);

	overflow-x: hidden;
	font-size: 1.2rem;

	box-shadow: 0 0 9px 0px #00000075;
}

.client-list > button::after {
	content: '';
	position: absolute;
	inset: 0 0 0 auto;
	
	box-shadow: 0px 0px 20px 36px var(--library-entry-color);
}

.add-client-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-client-button > img {
	width: 2rem;
	transform: rotate(45deg);
}

.window > section > div:nth-child(3) > button {
	background-color: var(--error-color);
}

.window > section > div:nth-child(3) > button[type="submit"] {
	background-color: var(--success-color);
}

.window > section > div:nth-child(2) p.error {
	text-align: center;
}

.window > section > div:nth-child(2) form {
	width: 60%;
}

#test-torrent-edit,
#test-torrent-add {
	position: relative;
	width: 5rem;
	display: flex;
	overflow: hidden;
	background-color: var(--tool-bar-color);
	transition: background-color 300ms linear;
}

#test-torrent-edit > div,
#test-torrent-add > div {
	position: absolute;
	width: 3rem;
	transition: left 100ms linear;
}

#test-torrent-edit > div:first-child,
#test-torrent-add > div:first-child {
	left: -100%;
}

#test-torrent-edit > div:nth-child(2),
#test-torrent-add > div:nth-child(2) {
	left: 20%;
}

#test-torrent-edit > div:last-child,
#test-torrent-add > div:last-child {
	left: 100%;
}

#test-torrent-edit.show-success,
#test-torrent-add.show-success {
	background-color: var(--success-color);
}
#test-torrent-edit.show-success > div:nth-child(2),
#test-torrent-add.show-success > div:nth-child(2) {
	left: -100%;
}
#test-torrent-edit.show-success > div:last-child,
#test-torrent-add.show-success > div:last-child {
	left: 20%;
}

#test-torrent-edit.show-fail,
#test-torrent-add.show-fail {
	background-color: var(--error-color);
}
#test-torrent-edit.show-fail > div:nth-child(2),
#test-torrent-add.show-fail > div:nth-child(2) {
	left: 100%;
}
#test-torrent-edit.show-fail > div:first-child,
#test-torrent-add.show-fail > div:first-child {
	left: 20%;
}

#choose-torrent-window > div:nth-child(2) {
	justify-content: flex-start;
}

#choose-torrent-list {
	display: flex;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
}

#choose-torrent-list > button {
	width: 10rem;
	height: 4rem;
	
	border-radius: 4px;
	padding: 1rem 2rem;
	background-color: var(--library-entry-color);
	color: var(--library-entry-font-color);

	font-size: 1rem;

	box-shadow: 0 0 9px 0px #00000075;
}

@media (max-width: 1000px) {
	table.fold tbody {
		display: flex;
		flex-direction: column;
	}
	table.fold tr {
		display: inline-flex;
		flex-direction: column;
	}
	table.fold tr > th,
	table.fold tr > td {
		width: 100%;
		text-align: left;
	}
}
