main {
	padding: 1rem;
}

h2 {
	font-size: 2rem;
	border-bottom: 1px solid var(--border-light-color);
	margin-block: 1rem;
	font-weight: 500;
}

.container {
	overflow-x: auto;
	color: var(--dark-color);
}

#about-table {
	width: 100%;
	min-width: 30rem;
}

#about-table tr > * {
	padding: .3rem .5rem;
}

#about-table th {
	width: 10rem;
	text-align: right;
	font-weight: 400;
}

#about-table td {
	margin-left: 1rem;
}
