.main-window {
	color: var(--dark-color);
	padding: 1rem;
}

.main-window h2 {
	border-bottom: 2px solid var(--border-color);
	margin-bottom: 1rem;
}

.main-window h2:not(:first-child) {
	margin-top: 1rem;
}

.task-interval-container {
	overflow-x: auto;
}

.task-interval-table {
	min-width: 33.2rem;
	table-layout: fixed;
}

.task-interval-table tr > :not(:first-child) {
	width: 8.5rem;
}

.task-interval-table tr > td {
	border-top: 1px solid var(--border-color);
}

table {
	width: 100%;
	text-align: left;
	border-spacing: 0px;
}

th, td {
	padding: .5rem;
}

.history-entry > * {
	border-top: 1px solid var(--border-color);
}
