/*  */
/* Volume info */
/*  */
.volume-mobile-description-container {
	display: flex;
	flex-direction: column;
	gap: clamp(1rem, 3.75vw, 2rem);	

	padding: clamp(1rem, 3.75vw, 2rem);
	background-color: rgba(0,0,0,.65);
	color: var(--light-color);
}

.volume-info {
	overflow-y: auto;
	display: flex;
	gap: clamp(1rem, 3.75vw, 2rem);
	align-items: flex-start;
}

.volume-info > img {
	aspect-ratio: 2/3;
	width: clamp(8rem, 16vw, 13.5rem);
}

.volume-info-container {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	font-size: 1.15rem;
}

.volume-title-monitored {
	display: flex;
	gap: clamp(.6rem, 2.4vw, 1rem);
}

#volume-monitor {
	width: clamp(30px, 4vw, 42px);
	flex: 0 0 auto;
	padding: 0;
	background-color: transparent;
}

.volume-title-monitored > h2 {
	font-size: clamp(2.1rem, 5vw, 3rem);
	font-weight: 400;
}

#volume-tags {
	display: flex;
	flex-wrap: wrap;
	gap: clamp(.5rem, 1.8vw, 1rem);
}

#volume-tags > p {
	background-color: var(--accent-color);
	color: var(--dark-color);
	padding: .3rem;
	border-radius: 3px;
	font-size: .9rem;
}

#volume-description-mobile {
	display: none;
}

/*  */
/* Issue list */
/*  */
.issues-table-container {
	overflow-x: auto;
	display: flex;
}

.issues-table {
	width: 100%;
	min-width: 485px;
	margin: clamp(.3rem, calc(2.1vw * 2), 1.75rem);

	border-spacing: 0px;
	border: 2px solid var(--border-color);
	border-radius: 6px;
	background-color: var(--light-color);
	color: var(--dark-color);
}

.issues-table th {
	text-align: left;
	font-size: smaller;
	padding-block: .75rem;
	padding-right: .5rem;
}

.issues-table th > img {
	width: 15px;
}

.monitor-column {
	width: 2.5rem;
}
.number-column {
	width: 3.5rem;
}
.date-column {
	width: 6.5rem;
}
.download-column {
	width: 3rem;
}
.action-column {
	width: 4rem;
}
.action-column > :not(:first-child) {
	margin-left: .5rem;
}

.issue-entry {
	transition: background-color 400ms linear;
}

.issue-entry:hover {
	background-color: var(--off-light-color);
}

.issues-table > thead > tr > :first-child,
.issue-entry > *:first-child {
	padding-left: .75rem;
}
.issues-table > thead > tr > :last-child,
.issue-entry > *:last-child {
	padding-right: .75rem;
}

.issue-entry > * {
	padding-block: .25rem;
}

.issue-entry > * {
	border-top: 2px solid var(--border-color);
}

.issue-title:hover {
	text-decoration: underline;
	cursor: pointer;
}

.issue-entry button {
	height: 18px;
	padding: 0;
	background-color: transparent;
}

.issue-entry img {
	width: 18px;
}

/*  */
/* Windows */
/*  */
#delete-form,
#edit-form {
	width: 100%;
	max-width: 30rem;
}

#cancel-delete,
#cancel-edit,
#cancel-rename,
#cancel-search,
#cancel-info {
	background-color: var(--error-color);
}

#submit-delete,
#submit-edit,
#submit-rename {
	background-color: var(--success-color);
}

/*  */
/* Delete volume window */
/*  */
#delete-window > div:nth-child(2) p {
	text-align: center;
}

/*  */
/* Manual search window */
/*  */
#manual-search-window > :nth-child(2) {
	justify-content: flex-start;
	overflow-x: auto;
}

#searching-message {
	text-align: center;
}

#search-result-table {
	min-width: 500px;
	border-spacing: 0px;
}

#search-result-table a {
	text-decoration: none;
}

#search-result-table a:hover {
	text-decoration: underline;
}

.match-column {
	width: 4rem;
}

.match-column > img {
	width: 18px;
}

.source-column {
	width: 6rem;
}

.search-action-column {
	width: 6rem;
}

.search-action-column > button {
	width: 2rem;
	
	background-color: transparent;
}

.search-action-column > button > img {
	aspect-ratio: 1/1;
}

#search-result-table th,
.search-entry > * {
	text-align: left;
	padding: .5rem;
}

.search-entry > * {
	border-top: 1px solid var(--border-color);
}

.search-entry {
	transition: background-color 400ms linear;
}

.search-entry:hover {
	background-color: var(--dark-hover-color);
}

.action-list {
	display: flex;
	gap: .1rem;
	flex-wrap: wrap;
}

/*  */
/* Rename window */
/*  */
#rename-window > :nth-child(2) {
	display: block;
}

#rename-preview {
	min-width: 40rem;
	border-spacing: 0px;
}

#rename-preview tr:nth-child(odd) > td {
	padding-top: .75rem;
	padding-bottom: .25rem;
}

#rename-preview tr:nth-child(even) > td {
	padding-bottom: .75rem;
	padding-top: .25rem;
}

#rename-preview tr:nth-child(even):not(:last-child) > td {
	border-bottom: 1px solid var(--border-color);
}

#rename-preview tr > :first-child {
	text-align: center;
	padding-right: .5rem;
}

#rename-preview tr:nth-child(odd) > :first-child {
	color: var(--error-color);
}

#rename-preview tr:nth-child(even) > :first-child {
	color: var(--success-color);
}

.empty-rename-message {
	font-size: 1.2rem;
	text-align: center;
}

.rename-minus,
.rename-plus {
	font-size: 1.2rem;
	width: 1.5rem;
	display: inline-block;
	font-weight: 600;
	text-align: center;
}

#rename-preview p:not(.empty-rename-message) {
	font-size: .9rem;
}

#rename-preview p:not(:first-child) {
	margin-top: .2rem;
}

/*  */
/* Issue info window */
/*  */
.window > section#issue-info-window > div:nth-child(2) {
	justify-content: flex-start;
}

#issue-info-selectors {
	display: flex;
	gap: .75rem;
	flex-wrap: wrap;
}

#issue-info-selectors button {
	padding: .5rem 1rem;
	border-radius: 6px;
	background-color: var(--accent-color);
}

#issue-files {
	display: flex;
	flex-direction: column;
}

#issue-files > div {
	padding: .25rem .5rem;
	border-top: 1px solid var(--border-color);
}

@media (max-width: 520px) {
	/*  */
	/* Volume info */
	/*  */
	#volume-description {
		display: none;
	}
	#volume-description-mobile {
		display: block;
	}
	
	/*  */
	/* Windows */
	/*  */
	.window > section > div:nth-child(2) form table tr {
		width: 100%;
		display: inline-flex;
		flex-direction: column;
	}
	.window > section > div:nth-child(2) form table tr > th,
	.window > section > div:nth-child(2) form table tr > td {
		width: 100%;
		text-align: left;
	}
	.window > section > div:nth-child(2) form table tr > td > select,
	.window > section > div:nth-child(2) form table tr > td > input[type="text"] {
		width: 100%;
	}
}

@media (max-width: 440px) {
	.volume-info > img {
		display: none;
	}
}