typing_extensions ~= 4.12
requests ~= 2.31
beautifulsoup4 ~= 4.12.3
flask ~= 3.0
waitress ~= 3.0
cryptography ~= 44.0, >= 44.0.1
bencoding ~= 0.2
aiohttp ~= 3.9
flask-socketio ~= 5.3
websocket-client ~= 1.3
