<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/static/css/general.css">
	<link rel="stylesheet" href="/static/css/window.css">
	<link rel="stylesheet" href="/static/css/add_volume.css">
	<script src="/static/js/auth.js"></script>
	<script src="/static/js/general.js" defer></script>
	<script src="/static/js/window.js" defer></script>
	<script src="/static/js/add_volume.js" defer></script>

	<title>Add Volume - Kapowarr</title>
</head>
<body>
	<!-- Windows -->
	<div class="window">
		<section id="loading-window" class="loading-window">
			<p>Adding volume...</p>
		</section>
		<section id="add-window" data-loading_window="loading-window">
			<div>
				<h2 id="add-title"></h2>
				<button aria-label="Cancel adding volume" title="Cancel adding volume">
					<img src="/static/img/cancel_search.svg" alt="">
				</button>
			</div>
			<div>
				<img src="" id="add-cover">
				<form id="add-form">
					<input type="hidden" id="comicvine-input" value="">
					<table>
						<tr>
							<th><label for="rootfolder-input">Root Folder</label></th>
							<td>
								<select id="rootfolder-input">
								</select>
							</td>
						</tr>
						<tr>
							<th><label for="monitor-input">Monitor</label></th>
							<td>
								<select id="monitor-input">
									<option value="true" selected>Yes</option>
									<option value="false">No</option>
								</select>
							</td>
						</tr>
					</table>
				</form>
			</div>
			<div>
				<button id="add-volume" type="submit" form="add-form">Add Volume</button>
			</div>
		</section>
	</div>
	
	<header>
		<div class="menu-title-container">
			<button id="toggle-nav" aria-label="Toggle menu">
				<img src="/static/img/menu.svg" alt="">
			</button>
			<h1>Kapowarr</h1>
		</div>
	</header>

	<div class="nav-main">
		<div id="nav-bar">
			<nav>
				<a href="/">Volumes</a>
					<a href="/add" class="sub-entry current-nav">Add Volume</a>
				<a href="/activity/queue">Activity</a>
				<a href="/settings">Settings</a>
				<a href="/system/status">System</a>
			</nav>
			<div id="task-queue"></div>
		</div>
		<main>
			<div>
				<section class="search-bar">
					<button id="search-button" aria-label="Start the search" title="Start the search">
						<img src="/static/img/search.svg" alt="">
					</button>
					<input type="text" id="search-input" autofocus aria-label="Search term">
					<button id="search-cancel-button" aria-label="Clear search" title="Clear search">
						<img src="/static/img/cancel_search.svg" alt="">
					</button>
				</section>
				<section id="search-explain">
					<p>It's easy to add a new volume, just start typing the name of the volume you want to add</p>
					<br>
					<p>You can also search using CV id of a volume. e.g. 'cv:4050-2127'</p>
				</section>
				<div id="search-empty" class="hidden">
					<p>No results</p>
				</div>
				<div id="search-failed" class="hidden">
					<p>The Comic Vine api key is not set or is invalid</p>
					<p>Please set a working Comic Vine api key at Settings -> General -> Comic Vine API</p>
				</div>
				<div id="search-blocked" class="hidden">
					<p>You can't add volumes before having added at least one root folder</p>
					<p>A root folder can be added at Settings -> Media Management -> Root Folders</p>
				</div>
				<section id="search-results"></section>
			</div>
		</main>
	</div>
</body>
</html>