<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta id="url_base" data-value="{{url_base}}">

	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="image/x-icon">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/window.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/add_volume.css') }}">
	<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
	<script src="{{ url_for('static', filename='js/general.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/window.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/add_volume.js') }}" defer></script>

	<title>Add Volume - Kapowarr</title>
</head>
<body>
	<!-- Windows -->
	<div class="window">
		<section id="loading-window" class="loading-window">
			<p>Adding volume...</p>
		</section>
		<section id="add-window" data-loading_window="loading-window">
			<div>
				<h2 id="add-title"></h2>
				<button aria-label="Cancel adding volume" title="Cancel adding volume">
					<img src="{{url_base}}/static/img/cancel_search.svg" alt="">
				</button>
			</div>
			<div>
				<img src="" id="add-cover">
				<form id="add-form">
					<input type="hidden" id="comicvine-input" value="">
					<table>
						<tr>
							<th><label for="rootfolder-input">Root Folder</label></th>
							<td>
								<select id="rootfolder-input">
								</select>
							</td>
						</tr>
						<tr>
							<th><label for="volumefolder-input">Volume Folder</label></th>
							<td>
								<input type="text" id="volumefolder-input">
							</td>
						</tr>
						<tr>
							<th><label for="monitor-input">Monitor</label></th>
							<td>
								<select id="monitor-input">
									<option value="true" selected>Yes</option>
									<option value="false">No</option>
								</select>
							</td>
						</tr>
					</table>
				</form>
			</div>
			<div>
				<button id="add-volume" type="submit" form="add-form">Add Volume</button>
			</div>
		</section>
	</div>
	
	<header>
		<div class="menu-title-container">
			<button id="toggle-nav" aria-label="Toggle menu">
				<img src="{{url_base}}/static/img/menu.svg" alt="">
			</button>
			<img src="{{ url_for('static', filename='img/favicon.svg') }}" alt="">
		</div>
	</header>

	<div class="nav-main">
		<div id="nav-bar">
			<nav>
				<a href="{{url_base}}/">Volumes</a>
					<a href="{{url_base}}/add" class="sub-entry current-nav">Add Volume</a>
					<a href="{{url_base}}/library-import" class="sub-entry">Library Import</a>
				<a href="{{url_base}}/activity/queue">Activity</a>
				<a href="{{url_base}}/settings">Settings</a>
				<a href="{{url_base}}/system/status">System</a>
			</nav>
			<div id="task-queue"></div>
		</div>
		<main>
			<div>
				<form class="search-bar">
					<button type="submit" id="search-button" aria-label="Start the search" title="Start the search">
						<img src="{{url_base}}/static/img/search.svg" alt="">
					</button>
					<input type="text" id="search-input" autofocus aria-label="Search term">
					<button type="button" id="search-cancel-button" aria-label="Clear search" title="Clear search">
						<img src="{{url_base}}/static/img/cancel_search.svg" alt="">
					</button>
				</form>
				<section id="search-explain">
					<p>It's easy to add a new volume, just start typing the name of the volume you want to add</p>
					<br>
					<p>You can also search using the CV id of a volume. e.g. 'cv:4050-2127', 'cv:2127' or '4050-2127'</p>
				</section>
				<div id="search-empty" class="hidden">
					<p>No results</p>
				</div>
				<div id="search-failed" class="hidden">
					<p>The Comic Vine api key is not set or is invalid</p>
					<p>Please set a working Comic Vine api key at Settings -> General -> Comic Vine API</p>
				</div>
				<div id="search-blocked" class="hidden">
					<p>You can't add volumes before having added at least one root folder</p>
					<p>A root folder can be added at Settings -> Media Management -> Root Folders</p>
				</div>
				<section id="search-results">
					<div class="filter-bar hidden">
						<select id="filter-translations">
							<option value="all">All Languages</option>
							<option value="only-english">Only English</option>
						</select>
					</div>
				</section>
			</div>
		</main>
	</div>
</body>
</html>