{% extends "base.html" %}
{% from "base.html" import icon_button, window, loading_window %}
{% block title %}Add Volume{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/window.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/add_volume.css') }}">
{% endblock %}
{% block js %}
	<script src="{{ url_for('static', filename='js/window.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/add_volume.js') }}" defer></script>
{% endblock %}

{% block windows %}
	{{ loading_window("loading-window", "Adding volume...") }}

	{% set add_content %}
		<img src="" id="add-cover">
		<form id="add-form">
			<input type="hidden" id="comicvine-input" value="">
			<table>
				<tr>
					<th><label for="rootfolder-input">Root Folder</label></th>
					<td>
						<select id="rootfolder-input">
						</select>
					</td>
				</tr>
				<tr>
					<th><label for="volumefolder-input">Volume Folder</label></th>
					<td>
						<input type="text" id="volumefolder-input">
					</td>
				</tr>
				<tr>
					<th><label for="monitor-input">Monitor</label></th>
					<td>
						<select id="monitor-input">
							<option value="true" selected>Yes</option>
							<option value="false">No</option>
						</select>
					</td>
				</tr>
			</table>
		</form>
	{% endset %}

	{% set add_submit %}
		<button id="add-volume" type="submit" form="add-form">Add Volume</button>
	{% endset %}

	{{ window(False, "add-window", "Add volume", add_content, add_submit, "loading-window") }}

{% endblock windows %}

{% block main %}
<main>
	<div>
		<form class="search-bar icon-text-color">
			<button type="submit" id="search-button" aria-label="Start the search" title="Start the search">
				<img src="{{url_base}}/static/img/search.svg" alt="">
			</button>
			<input type="text" id="search-input" autofocus aria-label="Search term">
			<button type="button" id="search-cancel-button" aria-label="Clear search" title="Clear search">
				<img src="{{url_base}}/static/img/cancel.svg" alt="">
			</button>
		</form>
		<section id="search-explain">
			<p>It's easy to add a new volume, just start typing the name of the volume you want to add</p>
			<br>
			<p>You can also search using the CV id of a volume. e.g. 'cv:4050-2127', 'cv:2127' or '4050-2127'</p>
		</section>
		<div id="search-empty" class="hidden">
			<p>No results</p>
		</div>
		<div id="search-failed" class="hidden">
			<p>The Comic Vine api key is not set or is invalid</p>
			<p>Please set a working Comic Vine api key at Settings -> General -> Comic Vine API</p>
		</div>
		<div id="search-blocked" class="hidden">
			<p>You can't add volumes before having added at least one root folder</p>
			<p>A root folder can be added at Settings -> Media Management -> Root Folders</p>
		</div>
		<section id="search-results">
			<div class="filter-bar hidden">
				<select id="filter-translations">
					<option value="all">All Languages</option>
					<option value="only-english">Only English</option>
				</select>
			</div>
		</section>
	</div>
</main>
{% endblock main %}
