<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Standard headers -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta id="url_base" data-value="{{url_base}}">

	<link rel="manifest" href="{{ url_for('static', filename='json/manifest.json') }}">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon.svg') }}">
	<meta name="apple-mobile-web-app-status-bar" content="#ebc700">
	<meta name="theme-color" content="#ebc700">

	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="image/x-icon">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
	{% block css %}
	{% endblock css %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
	<script src="{{ url_for('static', filename='js/general.js') }}" defer></script>
	{% block js %}
	{% endblock js %}

	<title>{% block title %}{% endblock %} - Kapowarr</title>

</head>
<body>
	<div class="pre-build-els hidden">
		{% block pre_build_els %}
		{% endblock %}
	</div>

	<table class="pre-build-els hidden">
		<tbody>
			{% block pre_build_rows %}
			{% endblock %}
		</tbody>
	</table>

	<div class="window">
		{% block windows %}
		{% endblock %}
	</div>

	<header>
		<div class="menu-title-container">
			<button id="toggle-nav" aria-label="Toggle menu">
				<img src="{{url_base}}/static/img/menu.svg" alt="">
			</button>
			<a href="{{url_base}}/">
				<img src="{{ url_for('static', filename='img/favicon.svg') }}" alt="">
			</a>
		</div>
		{% block right_side_header %}
		{% endblock %}
	</header>

	<div class="nav-main">
		<div id="nav-bar">
			<nav>
				<a
					href="{{url_base}}/"
					class="{% if request.path == '/' or request.path.startswith('/volumes/') %}current-nav{% endif %}"
				>Volumes</a>
				<div class="sub-nav">
					<a
						href="{{url_base}}/add"
						class="{% if request.path == '/add' %}current-nav{% endif %}"
					>Add Volume</a>
					<a
						href="{{url_base}}/library-import"
						class="{% if request.path == '/library-import' %}current-nav{% endif %}"
					>Library Import</a>
					<a
						href="{{url_base}}/mass-editor"
						class="{% if request.path == '/mass-editor' %}current-nav{% endif %}"
					>Mass Editor</a>
				</div>
				<a href="{{url_base}}/activity/queue">Activity</a>
				<div class="sub-nav">
					<a
						href="{{url_base}}/activity/queue"
						class="{% if request.path == '/activity/queue' %}current-nav{% endif %}"
					>Queue</a>
					<a
						href="{{url_base}}/activity/history"
						class="{% if request.path == '/activity/history' %}current-nav{% endif %}"
					>History</a>
					<a
						href="{{url_base}}/activity/blocklist"
						class="{% if request.path == '/activity/blocklist' %}current-nav{% endif %}"
					>Blocklist</a>
				</div>
				<a href="{{url_base}}/settings">Settings</a>
				<div class="sub-nav">
					<a
						href="{{url_base}}/settings/mediamanagement"
						class="{% if request.path == '/settings/mediamanagement' %}current-nav{% endif %}"
					>Media Management</a>
					<a
						href="{{url_base}}/settings/download"
						class="{% if request.path == '/settings/download' %}current-nav{% endif %}"
					>Download</a>
					<a
						href="{{url_base}}/settings/downloadclients"
						class="{% if request.path == '/settings/downloadclients' %}current-nav{% endif %}"
					>Download Clients</a>
					<a
						href="{{url_base}}/settings/general"
						class="{% if request.path == '/settings/general' %}current-nav{% endif %}"
					>General</a>
				</div>
				<a href="{{url_base}}/system/status">System</a>
				<div class="sub-nav">
					<a
						href="{{url_base}}/system/status"
						class="{% if request.path == '/system/status' %}current-nav{% endif %}"
					>Status</a>
					<a
						href="{{url_base}}/system/tasks"
						class="{% if request.path == '/system/tasks' %}current-nav{% endif %}"
					>Tasks</a>
				</div>
			</nav>
			<div id="task-queue"></div>
		</div>
		{% block main %}
		{% endblock %}
	</div>
</body>
</html>

{% macro icon_button(id, title, icon, desc='', submit=False) %}
	<button
		id="{{ id }}"
		title="{{ title }}"
		type="{{ 'button' if not submit else 'submit' }}"
	>
		<img src="{{ url_for('static', filename='img/' + icon) }}" alt="">
		{% if desc %}
		<div>
			<p>{{ desc }}</p>
		</div>
		{% endif %}
	</button>
{% endmacro %}

{% macro window(wide_window, id, title, content, save_button='', loading_id='') %}
	<!-- {{ title }} -->
	<section
		id="{{ id }}"
		{% if wide_window == True %}class="wide-window"{% endif %}
		{% if loading_id %}data-loading_window="{{loading_id}}"{% endif %}
	>
		<div class="window-header">
			<h2>{{ title }}</h2>
			{{ icon_button('', "Cancel", "cancel.svg") }}
		</div>
		<div class="window-content">
			{{ content }}
		</div>
		<div class="window-footer">
			<button class="cancel-window">Cancel</button>
			{{ save_button }}
		</div>
	</section>
{% endmacro %}

{% macro loading_window(id, msg) %}
	<section id="{{ id }}" class="loading-window">
		<p>{{ msg }}</p>
	</section>
{% endmacro %}
