{% extends "base.html" %}
{% from "base.html" import icon_button, page_turner %}
{% block title %}Blocklist{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/blocklist.css') }}">
{% endblock %}
{% block js %}
	<script src="{{ url_for('static', filename='js/blocklist.js') }}" defer></script>
{% endblock %}

{% block main %}
<main>
	<section class="tool-bar-container" aria-label="Tool bar">
		<div class="tool-bar">
			{{ icon_button("refresh-button", "Refresh the list", "refresh.svg", "Refresh") }}
			{{ icon_button("clear-button", "Empty the complete blocklist", "delete.svg", "Clear Blocklist") }}
		</div>
	</section>
	<div class="main-window">
		{{ page_turner() }}
		<div class="icon-text-color">
			<table>
				<thead>
					<tr>
						<th class="link-column">Link</th>
						<th class="reason-column">Reason</th>
						<th class="date-column">Added at</th>
						<th class="option-column">Delete</th>
					</tr>
				</thead>
				<tbody id="blocklist">
					
				</tbody>
			</table>
		</div>
	</div>
</main>
{% endblock main %}
