<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/static/css/general.css">
	<link rel="stylesheet" href="/static/css/blocklist.css">
	<script src="/static/js/auth.js"></script>
	<script src="/static/js/general.js" defer></script>
	<script src="/static/js/blocklist.js" defer></script>

	<title>Blocklist - Kapowarr</title>
</head>
<body>
	<header>
		<div class="menu-title-container">
			<button id="toggle-nav" aria-label="Toggle menu">
				<img src="/static/img/menu.svg" alt="">
			</button>
			<h1>Kapowarr</h1>
		</div>
	</header>
	<div class="nav-main">
		<div id="nav-bar">
			<nav>
				<a href="/">Volumes</a>
				<a href="/activity/queue">Activity</a>
					<a href="/activity/queue" class="sub-entry">Queue</a>
					<a href="/activity/history" class="sub-entry">History</a>
					<a href="/activity/blocklist" class="sub-entry current-nav">Blocklist</a>
				<a href="/settings">Settings</a>
				<a href="/system/status">System</a>
			</nav>
			<div id="task-queue"></div>
		</div>
		<main>
			<div class="tool-bar-container">
				<div class="tool-bar">
					<button id="refresh-button" aria-label="Refresh the list" title="Refresh the list">
						<img src="/static/img/refresh.svg" alt="">
						<div>
							<p>Refresh</p>
						</div>
					</button>
					<button id="clear-button" aria-label="Empty the complete blocklist" title="Empty the complete blocklist">
						<img src="/static/img/delete_white.svg" alt="">
						<div>
							<p>Clear Blocklist</p>
						</div>
					</button>
				</div>
			</div>
			<div class="main-window">
				<div class="page-turner">
					<button id="previous-page"><<</button>
					<p id="page-number">Page 1</p>
					<button id="next-page">>></button>
				</div>
				<div>
					<table>
						<thead>
							<tr>
								<th class="link-column">Link</th>
								<th class="reason-column">Reason</th>
								<th class="date-column">Added at</th>
								<th class="option-column">Delete</th>
							</tr>
						</thead>
						<tbody id="blocklist">
							
						</tbody>
					</table>
				</div>
			</div>
		</main>
	</div>
</body>
</html>