{% extends "base.html" %}
{% from "base.html" import icon_button %}
{% block title %}History{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
{% endblock %}
{% block js %}
	<script src="{{ url_for('static', filename='js/history.js') }}" defer></script>
{% endblock %}

{% block main %}
<main>
	<section class="tool-bar-container" aria-label="Tool bar">
		<div class="tool-bar">
			{{ icon_button("refresh-button", "Refresh the list", "refresh.svg", "Refresh") }}
			{{ icon_button("clear-button", "Clear History", "delete.svg", "Clear History") }}
		</div>
	</section>
	<div class="main-window">
		<div class="page-turner">
			<button id="previous-page"><<</button>
			<p id="page-number">Page 1</p>
			<button id="next-page">>></button>
		</div>
		<div>
			<table>
				<thead>
					<tr>
						<th>Title</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody id="history">
					
				</tbody>
			</table>
		</div>
	</div>
</main>
{% endblock main %}
