<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/static/css/general.css">
	<link rel="stylesheet" href="/static/css/login.css">
	<script src="/static/js/login.js" defer></script>

	<title>Login - Kapowarr</title>
</head>
<body>
	<div id="text-container">
		<h1>Kapowarr</h1>
		<p>Please log in</p>
	</div>
	<form id="login-form">
		<div class="input-container">
			<input type="password" id="password-input" autocomplete="current-password" placeholder="Password">
			<p id="error-message" class="error hidden">*Password invalid</p>
		</div>
		<button>Login</button>
	</form>
</body>
</html>