<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta id="url_base" data-value="{{url_base}}">

	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="image/x-icon">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/window.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/mass_editor.css') }}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
	<script src="{{ url_for('static', filename='js/general.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/window.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/mass_editor.js') }}" defer></script>

	<title>Mass Editor - Kapowarr</title>
</head>
<body>
	<div class="window">
		<section id="cv-window">
			<div>
				<h2>Edit ComicVine Match</h2>
				<button aria-label="Cancel editing match" title="Cancel editing match">
					<img src="{{url_base}}/static/img/cancel_search.svg" alt="">
				</button>
			</div>
			<div>
				<form class="search-bar">
					<input type="text" id="search-input">
					<button type="submit">
						<img src="{{url_base}}/static/img/search.svg" alt="">
					</button>
				</form>
				<div class="search-results-container">
					<table>
						<thead>
							<th>Search Result</th>
							<th>Action</th>
						</thead>
						<tbody class="search-results"></tbody>
					</table>
				</div>
			</div>
		</section>
	</div>
	
	<header>
		<div class="menu-title-container">
			<button id="toggle-nav" aria-label="Toggle menu">
				<img src="{{url_base}}/static/img/menu.svg" alt="">
			</button>
			<img src="{{ url_for('static', filename='img/favicon.svg') }}" alt="">
		</div>
	</header>

	<div class="nav-main">
		<div id="nav-bar">
			<nav>
				<a href="{{url_base}}/">Volumes</a>
					<a href="{{url_base}}/add" class="sub-entry">Add Volume</a>
					<a href="{{url_base}}/library-import" class="sub-entry">Library Import</a>
					<a href="{{url_base}}/mass-editor" class="sub-entry current-nav">Mass Editor</a>
				<a href="{{url_base}}/activity/queue">Activity</a>
				<a href="{{url_base}}/settings">Settings</a>
				<a href="{{url_base}}/system/status">System</a>
			</nav>
			<div id="task-queue"></div>
		</div>
		<main>
			<div id="loading-window" class="hidden">
				<h2>Loading</h2>
			</div>
			<div id="list-window">
				<div class="action-bar">
					<div class="action-divider">
						<div class="option-container">
							<button data-action="delete">Delete</button>
							<select name="delete_folder" id="delete-folder-input">
								<option value="true">Delete Volume Folder</option>
								<option value="false" selected>Keep Volume Folder</option>
							</select>
						</div>
					</div>
					<div class="action-divider">
						<button data-action="rename">Rename</button>
						<button data-action="update">Refresh & Scan</button>
						<button data-action="search">Auto Search</button>
						<button data-action="convert">Convert</button>
					</div>
					<div class="action-divider">
						<button data-action="unmonitor">Unmonitor</button>
						<button data-action="monitor">Monitor</button>
					</div>
				</div>
				<div class="list-container">
					<table>
						<thead>
							<th><input type="checkbox" id="selectall-input"></th>
							<th>Title</th>
							<th>Year</th>
							<th>Volume Number</th>
						</thead>
						<tbody class="volume-list"></tbody>
					</table>
				</div>
			</div>
		</main>
	</div>
</body>
</html>