{% extends "base.html" %}
{% block title %}Mass Editor{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/mass_editor.css') }}">
{% endblock %}
{% block js %}
	<script src="{{ url_for('static', filename='js/mass_editor.js') }}" defer></script>
{% endblock %}

{% block main %}
<main>
	<div id="loading-window" class="hidden">
		<h2>Loading</h2>
	</div>
	<div id="list-window">
		<div class="action-bar">
			<div class="action-divider">
				<div class="option-container">
					<button data-action="delete">Delete</button>
					<select name="delete_folder" id="delete-folder-input">
						<option value="true">Delete Volume Folder</option>
						<option value="false" selected>Keep Volume Folder</option>
					</select>
				</div>
			</div>
			<div class="action-divider">
				<button data-action="rename">Rename</button>
				<button data-action="update">Refresh & Scan</button>
				<button data-action="search">Auto Search</button>
				<button data-action="convert">Convert</button>
			</div>
			<div class="action-divider">
				<button data-action="unmonitor">Unmonitor</button>
				<button data-action="monitor">Monitor</button>
			</div>
		</div>
		<div class="list-container">
			<table>
				<thead>
					<th><input type="checkbox" id="selectall-input"></th>
					<th>Title</th>
					<th>Year</th>
					<th>Volume Number</th>
				</thead>
				<tbody class="volume-list"></tbody>
			</table>
		</div>
	</div>
</main>
{% endblock main %}
