{% extends "base.html" %}
{% from "base.html" import icon_button %}
{% block title %}Queue{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/queue.css') }}">
{% endblock %}
{% block js %}
	<script src="{{ url_for('static', filename='js/queue.js') }}" defer></script>
{% endblock %}

{% block main %}
<main>
	<section class="tool-bar-container" aria-label="Tool bar">
		<div class="tool-bar">
			{{ icon_button("refresh-button", "Refresh the queue", "refresh.svg", "Refresh") }}
		</div>
	</section>
	<div class="main-window icon-text-color">
		<table>
			<thead>
				<tr>
					<th class="status-column">Status</th>
					<th>Title</th>
					<th class="status-column">Source</th>
					<th class="number-column">Size</th>
					<th class="number-column">Speed</th>
					<th class="number-column">Progress</th>
					<th class="option-column">Delete</th>
				</tr>
			</thead>
			<tbody id="queue">
				
			</tbody>
		</table>
	</div>
</main>
{% endblock main %}
