{% extends "base.html" %}
{% from "base.html" import icon_button %}
{% block title %}Queue{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/queue.css') }}">
{% endblock %}
{% block js %}
	<script src="{{ url_for('static', filename='js/queue.js') }}" defer></script>
{% endblock %}

{% block pre_build_rows %}
<tr class="queue-entry">
	<td class="status-column"></td>
	<td>
		<a href="" target="_blank"></a>
	</td>
	<td class="status-column">
        <a href="" target="_blank"></a>
    </td>
	<td class="number-column"></td>
	<td class="number-column"></td>
	<td class="number-column"></td>
	<td class="option-column">
		<button title="Remove download" class="remove-dl">
			<img src="{{ url_for('static', filename='img/delete.svg') }}">
		</button>
        <button title="Remove and blocklist download" class="blocklist-dl">
            <img src="{{ url_for('static', filename='img/blocklist.svg') }}">
        </button>
	</td>
</tr>
{% endblock %}

{% block main %}
<main class="icon-text-color">
    <section class="tool-bar-container" aria-label="Tool bar">
        <div class="tool-bar">
            {{ icon_button(
                "removeall-button",
                "Remove all downloads from the queue",
                "delete.svg",
                "Remove All"
            ) }}
        </div>
    </section>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="status-column">Status</th>
                    <th>Title</th>
                    <th class="status-column">Source</th>
                    <th class="number-column">Size</th>
                    <th class="number-column">Speed</th>
                    <th class="number-column">Progress</th>
                    <th class="option-column">Delete</th>
                </tr>
            </thead>
            <tbody id="queue"></tbody>
        </table>
    </div>
    <section id="empty-window" class="loading-screen">
        <p>Queue empty</p>
    </section>
</main>
{% endblock main %}
