<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta id="url_base" data-value="{{url_base}}">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
	<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
	<script src="{{ url_for('static', filename='js/general.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/settings_general.js') }}" defer></script>

	<title>General Settings - Kapowarr</title>
</head>
<body>
	<header>
		<div class="menu-title-container">
			<button id="toggle-nav" aria-label="Toggle menu">
				<img src="{{url_base}}/static/img/menu.svg" alt="">
			</button>
			<h1>Kapowarr</h1>
		</div>
	</header>
	<div class="nav-main">
		<div id="nav-bar">
			<nav>
				<a href="{{url_base}}/">Volumes</a>
				<a href="{{url_base}}/activity/queue">Activity</a>
				<a href="{{url_base}}/settings">Settings</a>
					<a href="{{url_base}}/settings/mediamanagement" class="sub-entry">Media Management</a>
					<a href="{{url_base}}/settings/download" class="sub-entry">Download</a>
					<a href="{{url_base}}/settings/general" class="sub-entry current-nav">General</a>
				<a href="{{url_base}}/system/status">System</a>
			</nav>
			<div id="task-queue"></div>
		</div>
		<main>
			<div class="tool-bar-container">
				<div class="tool-bar">
					<button id="save-button" type="submit" aria-label="Save the changes made" title="Save the changes made">
						<img src="{{url_base}}/static/img/save.svg" alt="">
						<div>
							<p>Save</p>
						</div>
					</button>
				</div>
			</div>
			<div class="settings-container">
				<form id="settings-form">
					<h2>Host</h2>
					<p>The host settings require a restart to take effect</p>
					<table class="fold">
						<tr>
							<th><label for="bind-address-input">Bind Address</label></th>
							<td>
								<input type="text" id="bind-address-input" required spellcheck="false">
								<p>Valid IPv4 address or '0.0.0.0' for all interfaces</p>
							</td>
						</tr>
						<tr>
							<th><label for="port-input">Port Number</label></th>
							<td>
								<input type="text" id="port-input" required spellcheck="false">
							</td>
						</tr>
						<tr>
							<th><label for="url-base-input">Base URL</label></th>
							<td>
								<input type="text" id="url-base-input" spellcheck="false">
								<p>For reverse proxy support, default is empty</p>
							</td>
						</tr>
					</table>
					<h2>Security</h2>
					<table class="fold">
						<tr>
							<th><label for="password-input">Login Password</label></th>
							<td>
								<input type="password" id="password-input" required spellcheck="false" autocomplete="new-password">
								<p>When set, password is required to be entered to get access to web-ui and api</p>
							</td>
						</tr>
						<tr>
							<th><label>API Key</label></th>
							<td>
								<div id="api-container">
									<input type="text" id="api-input" readonly>
									<button type="button" id="generate-api"><img src="{{url_base}}/static/img/refresh.svg" alt=""></button>
								</div>
							</td>
						</tr>
					</table>
					<h2>Comic Vine API</h2>
					<table class="fold">
						<tr>
							<th><label for="cv-input">Comic Vine API Key</label></th>
							<td>
								<input type="text" id="cv-input" required spellcheck="false">
								<p>The API key of the <a href="https://comicvine.gamespot.com/api" target="_blank">Comic Vine API</a>, which is required for Kapowarr to work</p>
							</td>
						</tr>
					</table>
					<h2>UI</h2>
					<table class="fold">
						<tr>
							<th><label for="theme-input">Theme</label></th>
							<td>
								<select id="theme-input">
									<option value="light">Light</option>
									<option value="dark">Dark</option>
								</select>
							</td>
						</tr>
					</table>
					<h2>Logging</h2>
					<table class="fold">
						<tr>
							<th><label for="log-level-input">Log Level</label></th>
							<td>
								<select id="log-level-input" required>
									<option value="info">Info</option>
									<option value="debug">Debug</option>
								</select>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</main>
	</div>

</body>
</html>