<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/static/css/general.css">
	<link rel="stylesheet" href="/static/css/settings.css">
	<script src="/static/js/general.js" defer></script>
	<script src="/static/js/settings_download.js" defer></script>

	<title>Download Settings - Kapowarr</title>
</head>
<body>
	<header>
		<div class="menu-title-container">
			<button class="toggle-nav" id="nav-button" aria-label="toggle menu">
				<img src="/static/img/menu.svg" alt="Menu icon" class="nav-icon">
			</button>
			<h1>Kapowarr</h1>
		</div>
	</header>
	<div class="nav-main">
		<div id="nav">
			<nav>
				<a href="/" class="nav-entry current-nav nav-side-line">Volumes</a>
				<a href="/activity/queue" class="nav-entry nav-side-line">Activity</a>
				<a href="/settings" class="nav-entry nav-side-line">Settings</a>
					<a href="/settings/mediamanagement" class="sub-nav-entry nav-side-line">Media Management</a>
					<a href="/settings/download" class="sub-nav-entry nav-side-line current-nav">Download</a>
					<a href="/settings/general" class="sub-nav-entry nav-side-line">General</a>
				<a href="/system/status" class="nav-entry nav-side-line">System</a>
			</nav>
			<div id="task-queue"></div>
		</div>
		<main>
			<div class="tool-bar-container">
				<div class="tool-bar">
					<button class="tool-bar-button" id="save-button" type="submit">
						<img src="/static/img/save.svg" alt="">
						<p>Save</p>
					</button>
				</div>
			</div>
			<div class="settings-container">
				<form id="settings-form">
					<h2>Download Location</h2>
					<table>
						<tr>
							<th><label for="download-folder-input">Direct Download Temporary Folder</label></th>
							<td>
								<input type="text" id="download-folder-input" required spellcheck="false">
								<p>The folder that direct downloads temporarily get downloaded to before being moved to the correct location</p>
							</td>
						</tr>
				</form>
			</div>
		</main>
	</div>
</body>
</html>