<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/static/css/general.css">
	<link rel="stylesheet" href="/static/css/settings.css">
	<script src="/static/js/auth.js"></script>
	<script src="/static/js/general.js" defer></script>
	<script src="/static/js/settings_download.js" defer></script>

	<title>Download Settings - Kapowarr</title>
</head>
<body>
	<header>
		<div class="menu-title-container">
			<button id="toggle-nav" aria-label="Toggle menu">
				<img src="/static/img/menu.svg" alt="">
			</button>
			<h1>Kapowarr</h1>
		</div>
	</header>
	<div class="nav-main">
		<div id="nav-bar">
			<nav>
				<a href="/">Volumes</a>
				<a href="/activity/queue">Activity</a>
				<a href="/settings">Settings</a>
					<a href="/settings/mediamanagement" class="sub-entry">Media Management</a>
					<a href="/settings/download" class="sub-entry current-nav">Download</a>
					<a href="/settings/general" class="sub-entry">General</a>
				<a href="/system/status">System</a>
			</nav>
			<div id="task-queue"></div>
		</div>
		<main>
			<div class="tool-bar-container">
				<div class="tool-bar">
					<button id="save-button" type="submit" aria-label="Save the changes made" title="Save the changes made">
						<img src="/static/img/save.svg" alt="">
						<div>
							<p>Save</p>
						</div>
					</button>
				</div>
			</div>
			<div class="settings-container">
				<form id="settings-form">
					<h2>Download Location</h2>
					<table class="fold">
						<tbody>
							<tr>
								<th><label for="download-folder-input">Direct Download Temporary Folder</label></th>
								<td>
									<input type="text" id="download-folder-input" required spellcheck="false">
									<p>The folder that direct downloads temporarily get downloaded to before being moved to the correct location</p>
								</td>
							</tr>
						</tbody>
					</table>
					<h2>Service preference</h2>
					<table id="pref-table">
						<tbody>
							<tr>
								<th>1</th>
								<td>
									<select data-place="1">
									</select>
								</td>
							</tr>
							<tr>
								<th>2</th>
								<td>
									<select data-place="2">
									</select>
								</td>
							</tr>
							<tr>
								<th>3</th>
								<td>
									<select data-place="3">
									</select>
								</td>
							</tr>
						</tbody>
					</table>
					<h2>Credentials</h2>
					<p>Credentials of service accounts can be added here. Kapowarr will log into the account for the service and download with it, taking advantage of the (probably) larger bandwidth and download quota.</p>
					<div id="cred-container">
						<table id="cred-table">
							<thead>
								<tr>
									<th>Service</th>
									<th>Email</th>
									<th>Password</th>
									<th class="action-column">Action</th>
								</tr>
							</thead>
							<tbody id="cred-list"></tbody>
							<tbody>
								<tr id="add-row" class="hidden">
									<td>
										<select id="cred-service-input"></select>
										<p class="error hidden" id="cred-error">*The credentials aren't valid (Kapowarr can't login)</p>
									</td>
									<td><input type="email" id="cred-email-input"></td>
									<td><input type="text" id="cred-password-input"></td>
									<td><button id="add-cred" type="button">Add</button></td>
								</tr>
							</tbody>
						</table>
					</div>
					<button type="button" id="toggle-cred">Add credential</button>
				</form>
			</div>
		</main>
	</div>
</body>
</html>