{% extends "base.html" %}
{% from "base.html" import icon_button, window %}
{% block title %}Download Clients{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/window.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}
{% block js %}
	<script src="{{ url_for('static', filename='js/window.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/settings_download_clients.js') }}" defer></script>
{% endblock %}

{% block windows %}
	{% set choose_content %}
		<div id="choose-torrent-list"></div>
	{% endset %}
	
	{{ window(False, "choose-torrent-window", "Choose Torrent Client", choose_content) }}

	{% set add_content %}
		<form id="add-torrent-form">
			<table>
				<tr>
					<th><label for="add-title-input">Title</label></th>
					<td>
						<input type="text" id="add-title-input" required>
					</td>
				</tr>
				<tr>
					<th><label for="add-baseurl-input">Base URL</label></th>
					<td>
						<input type="text" id="add-baseurl-input" required>
						<p>E.g. 'http://192.168.2.15:8008/torrent_client'</p>
					</td>
				</tr>
			</table>
		</form>
	{% endset %}

	{% set add_submit %}
		<button id="test-torrent-add" type="button">
			<div>Failed</div>
			<div>Test</div>
			<div>Success</div>
		</button>
		<button id="submit-torrent-add" type="submit" form="add-torrent-form">Add</button>
	{% endset %}

	{{ window(False, "add-torrent-window", "Add Torrent Client", add_content, add_submit) }}

	{% set edit_content %}
		<p class="error hidden">*Client is downloading</p>
		<form id="edit-torrent-form">
			<table>
				<tr>
					<th><label for="edit-title-input">Title</label></th>
					<td>
						<input type="text" id="edit-title-input" required>
					</td>
				</tr>
				<tr>
					<th><label for="edit-baseurl-input">Base URL</label></th>
					<td>
						<input type="text" id="edit-baseurl-input" required>
						<p>E.g. 'http://192.168.2.15:8008/torrent_client'</p>
					</td>
				</tr>
			</table>
		</form>
	{% endset %}

	{% set edit_submit %}
		<button id="delete-torrent-edit" type="button">Delete</button>
		<button id="test-torrent-edit" type="button">
			<div>Failed</div>
			<div>Test</div>
			<div>Success</div>
		</button>
		<button id="submit-torrent-edit" type="submit" form="edit-torrent-form">Save</button>
	{% endset %}

	{{ window(False, "edit-torrent-window", "Edit Torrent Client", edit_content, edit_submit) }}

{% endblock windows %}

{% block main %}
<main>
	<div class="settings-container">
		<form id="settings-form">
			<h2>Torrent Clients</h2>
			<div id="torrent-client-list" class="client-list">
				<button class="add-client-button icon-text-color" type="button" title="Add torrent client">
					<img src="{{url_base}}/static/img/cancel.svg" alt="">
				</button>
			</div>
		</form>
	</div>
</main>
{% endblock main %}
