<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/static/css/general.css">
	<link rel="stylesheet" href="/static/css/status.css">
	<script src="/static/js/general.js" defer></script>
	<script src="/static/js/status.js" defer></script>

	<title>Status - Kapowarr</title>
</head>
<body>
	<header>
		<div class="menu-title-container">
			<button class="toggle-nav" id="nav-button" aria-label="toggle menu">
				<img src="/static/img/menu.svg" alt="Menu icon" class="nav-icon">
			</button>
			<h1>Kapowarr</h1>
		</div>
	</header>
	<div class="nav-main">
		<div id="nav">
			<nav>
				<a href="/" class="nav-entry nav-side-line">Volumes</a>
				<a href="/activity/queue" class="nav-entry nav-side-line">Activity</a>
				<a href="/settings" class="nav-entry nav-side-line">Settings</a>
				<a href="/system/status" class="nav-entry nav-side-line">System</a>
					<a href="/system/status" class="sub-nav-entry nav-side-line current-nav">Status</a>
					<a href="/system/tasks" class="sub-nav-entry nav-side-line">Tasks</a>
			</nav>
			<div id="task-queue"></div>
		</div>
		<main>
			<h2>About</h2>
			<div class="container">
				<table id="about-table">
					<tr>
						<th><label for="version">Kapowarr version</label></th>
						<td id="version"></td>
					</tr>
					<tr>
						<th><label for="python-version">Python version</label></th>
						<td id="python-version"></td>
					</tr>
					<tr>
						<th><label for="database-version">Database version</label></th>
						<td id="database-version"></td>
					</tr>
					<tr>
						<th><label for="database-location">Database location</label></th>
						<td id="database-location"></td>
					</tr>
					<tr>
						<th><label for="data-folder">Data folder</label></th>
						<td id="data-folder"></td>
					</tr>
				</table>
			</div>
		</main>
	</div>
</body>
</html>