<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/static/css/general.css">
	<link rel="stylesheet" href="/static/css/tasks.css">
	<script src="/static/js/general.js" defer></script>
	<script src="/static/js/tasks.js" defer></script>

	<title>Tasks - Kapowarr</title>
</head>
<body>
	<header>
		<div class="menu-title-container">
			<button class="toggle-nav" id="nav-button" aria-label="toggle menu">
				<img src="/static/img/menu.svg" alt="Menu icon" class="nav-icon">
			</button>
			<h1>Kapowarr</h1>
		</div>
	</header>
	<div class="nav-main">
		<div id="nav">
			<nav>
				<a href="/" class="nav-entry nav-side-line">Volumes</a>
				<a href="/activity/queue" class="nav-entry nav-side-line">Activity</a>
				<a href="/settings" class="nav-entry nav-side-line">Settings</a>
				<a href="/system/status" class="nav-entry nav-side-line">System</a>
					<a href="/system/status" class="sub-nav-entry nav-side-line">Status</a>
					<a href="/system/tasks" class="sub-nav-entry current-nav nav-side-line">Tasks</a>
			</nav>
			<div id="task-queue"></div>
		</div>
		<main>
			<div class="tool-bar-container">
				<div class="tool-bar">
					<button class="tool-bar-button" id="clear-button">
						<img src="/static/img/delete_white.svg" alt="">
						<p id="clear-text">Clear History</p>
					</button>
				</div>
			</div>
			<div class="main-window">
				<h2>Scheduled</h2>
				<div class="task-interval-container">
				<table class="task-interval-table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Interval</th>
							<th>Last Execution</th>
							<th>Next Execution</th>
						</tr>
					</thead>
					<tbody id="task-intervals">
					</tbody>
				</table>
				</div>
				<h2>History</h2>
				<table>
					<thead>
						<tr>
							<th>Title</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody id="history">
						
					</tbody>
				</table>
			</div>
		</main>
	</div>
</body>
</html>