{% extends "base.html" %}
{% from "base.html" import icon_button, window, loading_window %}
{% block title %}Volume{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/window.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/view_volume.css') }}">
{% endblock %}
{% block js %}
	<script src="{{ url_for('static', filename='js/window.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/view_volume.js') }}" defer></script>
{% endblock %}

{% block pre_build_rows %}
	<tr data-id="" class="issue-entry">
		<td class="issue-monitored monitor-column">
			<button data-monitored="" data-id="" title=""></button>
		</td>
		<td class="issue-number number-column"></td>
		<td class="issue-title title-column"></td>
		<td class="issue-date date-column"></td>
		<td class="issue-status download-column" title="">
			<img src="" alt="">
		</td>
		<td class="action-column">
			{{ icon_button('', "Auto search for this issue", "search.svg") }}
			{{ icon_button('', "Manually search for this issue", "manual_search.svg") }}
			{{ icon_button('', "Convert files for this issue", "convert.svg") }}
		</td>
	</tr>
	<tr class="search-entry">
		<td class="match-column" title="">
			<img src="">
		</td>
		<td>
			<a href="" target="_blank"></a>
		</td>
		<td class="source-column"></td>
		<td class="search-action-column action-list">
			{{ icon_button('', "Download", "download.svg") }}
			{{ icon_button('', "Add to blocklist", "blocklist.svg") }}
		</td>
	</tr>
	<tr class="rename-before">
		<td rowspan="2">
			<input type="checkbox" checked>
		</td>
		<td>-</td>
		<td></td>
	</tr>
	<tr class="rename-after">
		<td>+</td>
		<td></td>
	</tr>
{% endblock pre_build_rows %}

{% block windows %}
	{{ loading_window("updating-window", "Updating volume...") }}
	{{ loading_window("renaming-window", "Renaming volume files...") }}
	{{ loading_window("converting-window", "Converting volume files...") }}

	{% set delete_content %}
		<p>Are you sure you want to delete this volume?</p>
		<p id="volume-downloading-error" class="error hidden">*There is a download in the queue for this volume</p>
		<form id="delete-form">
			<table>
				<tr>
					<th><label for="delete-folder-input">Delete folder</label></th>
					<td>
						<select id="delete-folder-input">
							<option value="true">Yes</option>
							<option value="false" selected>No</option>
						</select>
					</td>
				</tr>
			</table>
		</form>
	{% endset %}
	{% set delete_submit %}
		<button id="submit-delete" type="submit" form="delete-form">Delete</button>
	{% endset %}
	{{ window(False, "delete-window", "Delete volume", delete_content, delete_submit) }}

	{% set edit_content %}
		<form id="edit-form">
			<table>
				<tr>
					<th><label for="monitored-input">Monitored</label></th>
					<td>
						<select id="monitored-input">
							<option value="true">Yes</option>
							<option value="false" selected>No</option>
						</select>
					</td>
				</tr>
				<tr>
					<th><label for="root-folder-input">Root folder</label></th>
					<td>
						<select id="root-folder-input">
							<option value="true">Yes</option>
							<option value="false" selected>No</option>
						</select>
					</td>
				</tr>
				<tr>
					<th><label for="volumefolder-input">Volume Folder</label></th>
					<td>
						<input type="text" id="volumefolder-input">
						<p>Make empty to generate the default folder</p>
					</td>
				</tr>
			</table>
		</form>
	{% endset %}
	{% set edit_submit %}
		<button id="submit-edit" type="submit" form="edit-form">Update</button>
	{% endset %}
	{{ window(False, "edit-window", "Edit volume", edit_content, edit_submit, "updating-window") }}

	{% set rename_content %}
		<p class="empty-rename-message">Nothing to Rename</p>
		<table class="rename-preview">
			<thead>
				<th colspan="2">
					<input type="checkbox" id="selectall-input" checked>
				</th>
				<th>Files</th>
			</thead>
			<tbody></tbody>
		</table>
	{% endset %}
	{% set rename_submit %}
		<button id="submit-rename" type="submit">Rename</button>
	{% endset %}
	{{ window(True, "rename-window", "Rename volume files", rename_content, rename_submit, "renaming-window") }}

	{% set manual_search_content %}
		<p id="searching-message">Searching...</p>
		<table id="search-result-table" class="icon-text-color">
			<thead>
				<tr>
					<th class="match-column">Match</th>
					<th>Title</th>
					<th class="source-column">Source</th>
					<th class="search-action-column">Action</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	{% endset %}
	{{ window(True, "manual-search-window", "Manual search", manual_search_content, '') }}

	{% set issue_info_content %}
		<div id="issue-info-selectors">
			<button id="issue-info-selector">Info</button>
			<button id="issue-files-selector">Files</button>
			<button id="issue-rename-selector">Rename</button>
		</div>
		<div id="issue-info">
			<h3 id="issue-info-title"></h3>
			<p id="issue-info-desc" class="description"></p>
		</div>
		<div id="issue-files" class="hidden">
		</div>
	{% endset %}
	{{ window(False, "issue-info-window", "Issue info", issue_info_content, '') }}

	{% set convert_content %}
		<p id="convert-preference"></p>
		<p class="empty-rename-message">Nothing to Convert</p>
		<table class="rename-preview">
			<thead>
				<th colspan="2">
					<input type="checkbox" id="selectall-convert-input" checked>
				</th>
				<th>Files</th>
			</thead>
			<tbody></tbody>
		</table>
	{% endset %}
	{% set convert_submit %}
		<button id="submit-convert" type="submit">Convert</button>
	{% endset %}
	{{ window(True, "convert-window", "Convert volume files", convert_content, convert_submit, "converting-window") }}

{% endblock windows %}

{% block main %}
<div class="loading-container">
	<div id="loading-screen">
		<h2>Loading...</h2>
	</div>
	<main class="hidden">
		<div class="tool-bar-container">
			<div class="tool-bar">
				{{ icon_button(
					"refresh-button",
					"Trigger a 'refresh and scan' for the volume",
					"refresh.svg",
					"Refresh & Scan"
				) }}
				{{ icon_button(
					"autosearch-button",
					"Start searching for all monitored issues in the volume",
					"search.svg",
					"Search Monitored"
				) }}
				{{ icon_button(
					"manualsearch-button",
					"Start a manual search for all issues in the volume",
					"manual_search.svg",
					"Manual Search"
				) }}
				{{ icon_button(
					"rename-button",
					"Preview how the files of the volume will be renamed",
					"rename.svg",
					"Preview Rename"
				) }}
				{{ icon_button(
					"convert-button",
					"Convert files to a different format",
					"convert.svg",
					"Preview Convert"
				) }}
				{{ icon_button(
					"edit-button",
					"Edit the volume",
					"edit.svg",
					"Edit"
				) }}
				{{ icon_button(
					"delete-button",
					"Delete the volume",
					"delete.svg",
					"Delete"
				) }}
			</div>
		</div>
		<div id="volume-content">
			<div class="volume-mobile-description-container">
				<div class="volume-info">
					<img src="" alt="">
					<div class="volume-info-container">
						<div class="volume-title-monitored">
							<button id="volume-monitor"></button>
							<h2></h2>
						</div>
						<div id="volume-tags"></div>
						<p id="volume-path"></p>
						<p id="volume-description" class="description"></p>
					</div>
				</div>
				<p id="volume-description-mobile" class="description"></p>
			</div>
			<div class="issues-table-container icon-text-color">
				<table class="issues-table">
					<thead>
						<tr>
							<th class="monitor-column" aria-label="Monitored status"></th>
							<th class="number-column" aria-label="Issue number">#</th>
							<th class="title-column">Title</th>
							<th class="date-column">Release Date</th>
							<th class="download-column" aria-label="Downloaded"><img src="{{url_base}}/static/img/download.svg" alt=""></th>
							<th class="action-column" aria-label="Actions"><img src="{{url_base}}/static/img/settings.svg" alt=""></th>
						</tr>
					</thead>
					<tbody id="issues-list">
					</tbody>
				</table>
			</div>
		</div>
	</main>
</div>
{% endblock main %}
