{% extends "base.html" %}
{% from "base.html" import icon_button %}
{% block title %}Volumes{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/volumes.css') }}">
{% endblock %}
{% block js %}
	<script src="{{ url_for('static', filename='js/volumes.js') }}" defer></script>
{% endblock %}

{% block pre_build_els %}
	<a href="" class="list-entry" aria-label="">
		<img class="list-img" src="" alt="" loading="lazy">
		<div class="list-prog-container">
			<div class="list-prog-bar"></div>
			<div class="list-prog-num"></div>
		</div>
		<h2 class="list-title" title=""></h2>
		<p class="list-volume"></p>
		<p class="list-monitored">Monitored</p>
		<p class="list-unmonitored">Unmonitored</p>
	</a>
{% endblock %}

{% block pre_build_rows %}
	<tr class="table-entry" aria-label="">
		<td>
			<input type="checkbox" aria-label="Select volume for mass edit">
		</td>
		<td>
			<a class="table-link" href=""></a>
		</td>
		<td class="table-year"></td>
		<td class="table-volume"></td>
		<td>
			<div class="table-prog-container">
				<div class="table-prog-bar"></div>
				<div class="table-prog-num"></div>
			</div>
		</td>
		<td class="table-monitored-container">
			<button class="table-monitored">
			</button>
		</td>
	</tr>
{% endblock %}

{% block right_side_header %}
	<form id="search-container" class="icon-dark-color" aria-label="Search bar">
		<button type="submit" id="start-search" aria-label="Start search">
			<img src="{{url_base}}/static/img/search.svg" alt="">
		</button>
		<input type="text" id="search-input" placeholder="Search" aria-label="Search input">
		<button type="button" id="clear-search" aria-label="Clear search">
			<img src="{{url_base}}/static/img/cancel.svg" alt="">
		</button>
	</form>
{% endblock %}

{% block main %}
<main>
	<input type="checkbox" id="massedit-toggle" class="hidden">
	<section class="tool-bar-container" aria-label="Tool bar">
		<div class="tool-bar">
			{{ icon_button(
				"updateall-button",
				"Trigger a 'refresh and scan' for all volumes",
				"refresh.svg",
				"Update All"
			) }}
			{{ icon_button(
				"searchall-button",
				"Trigger a 'search monitored' for all volumes",
				"search.svg",
				"Search All"
			) }}
			{{ icon_button(
				"massedit-button",
				"Start mass-editing the volumes",
				"edit.svg",
				"Mass Edit"
			) }}
		</div>
		<div class="tool-bar">
			<select id="filter-button" aria-label="Apply a filter">
				<option value="">No Filter</option>
				<option value="wanted">Wanted</option>
				<option value="monitored">Monitored</option>
			</select>
			<select id="view-button" aria-label="Change the view">
				<option value="posters">Posters</option>
				<option value="table">Table</option>
			</select>
			<select id="sort-button" aria-label="Sort the list of volumes">
				<option value="title">Title</option>
				<option value="volume_number">Volume Number</option>
				<option value="year">Year</option>
				<option value="recently_added">Recently Added</option>
				<option value="publisher">Publisher</option>
			</select>
		</div>
	</section>
	<div id="loading-library" class="loading-screen">
		<h2>Loading...</h2>
		<noscript>
			WARNING: This web-UI does not work without JavaScript.
		</noscript>
	</div>
	<div id="empty-library" class="loading-screen hidden">
		<h2>Library is empty</h2>
	</div>
	<div id="library-container" class="hidden">
		<div id="list-library">
			<div class="space-taker"></div>
		</div>
		<div id="table-container">
			<section class="action-bar" aria-label="Action Bar">
				<div class="action-divider">
					<button id="cancel-massedit">Quit</button>
					<div class="option-container">
						<button data-action="delete">Delete</button>
						<select name="delete_folder" id="delete-folder-input" aria-label="Keep or delete the volume folder">
							<option value="true">Delete Volume Folder</option>
							<option value="false" selected>Keep Volume Folder</option>
						</select>
					</div>
				</div>
				<div class="action-divider">
					<button data-action="rename">Rename</button>
					<button data-action="update">Refresh & Scan</button>
					<button data-action="search">Auto Search</button>
					<button data-action="convert">Convert</button>
				</div>
				<div class="action-divider">
					<button data-action="unmonitor">Unmonitor</button>
					<button data-action="monitor">Monitor</button>
				</div>
			</section>

			<table>
				<thead>
					<tr>
						<th>
							<input type="checkbox" id="selectall-input" aria-label="Select all volumes for mass edit">
						</th>
						<th>Volume Title</th>
						<th>Year</th>
						<th>Volume</th>
						<th>Progress</th>
						<th>Monitored</th>
					</tr>
				</thead>
				<tbody id="table-library"></tbody>
			</table>
		</div>
		<footer id="lib-stats" aria-label="Library statistics">
			<table>
				<tbody>
					<tr>
						<th>Volumes</th>
						<td id="volume-count"></td>
					</tr>
					<tr>
						<th>Monitored</th>
						<td id="volume-monitored-count"></td>
					</tr>
					<tr>
						<th>Unmonitored</th>
						<td id="volume-unmonitored-count"></td>
					</tr>
				</tbody>
			</table>
			<table>
				<tbody>
					<tr>
						<th>Issues</th>
						<td id="issue-count"></td>
					</tr>
					<tr>
						<th>Issues downloaded</th>
						<td id="issue-download-count"></td>
					</tr>
				</tbody>
			</table>
			<table>
				<tbody>
					<tr>
						<th>Files</th>
						<td id="file-count"></td>
					</tr>
					<tr>
						<th>Total file size</th>
						<td id="total-file-size"></td>
					</tr>
				</tbody>
			</table>
		</footer>
	</div>
</main>
{% endblock main %}
