<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta id="url_base" data-value="{{url_base}}">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/volumes.css') }}">
	<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
	<script src="{{ url_for('static', filename='js/general.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/volumes.js') }}" defer></script>

	<title>Volumes - Kapowarr</title>
</head>
<body>
	<header>
		<div class="menu-title-container">
			<button id="toggle-nav" aria-label="Toggle menu">
				<img src="{{url_base}}/static/img/menu.svg" alt="">
			</button>
			<h1>Kapowarr</h1>
		</div>
		<div id="search-container">
			<button id="start-search" aria-label="Start search">
				<img src="{{url_base}}/static/img/search.svg" alt="">
			</button>
			<input type="text" id="search-input" placeholder="Search" aria-label="Search input">
			<button id="clear-search" aria-label="Clear search">
				<img src="{{url_base}}/static/img/cancel_search.svg" alt="">
			</button>
		</div>
	</header>
	<div class="nav-main">
		<div id="nav-bar">
			<nav>
				<a href="{{url_base}}/" class="current-nav">Volumes</a>
					<a href="{{url_base}}/add" class="sub-entry">Add Volume</a>
				<a href="{{url_base}}/activity/queue">Activity</a>
				<a href="{{url_base}}/settings">Settings</a>
				<a href="{{url_base}}/system/status">System</a>
			</nav>
			<div id="task-queue"></div>
		</div>
		<main>
			<div class="tool-bar-container">
				<div class="tool-bar">
					<button id="updateall-button" aria-label="Trigger a 'refresh and scan' for all volumes" title="Trigger a 'refresh and scan' for all volumes">
						<img src="{{url_base}}/static/img/refresh.svg" alt="">
						<div>
							<p>Update All</p>
						</div>
					</button>
					<button id="searchall-button" aria-label="Trigger a 'search monitored' for all volumes" title="Trigger a 'search monitored' for all volumes">
						<img src="{{url_base}}/static/img/search_white.svg" alt="">
						<div>
							<p>Search All</p>
						</div>
					</button>
				</div>
				<div class="tool-bar">
					<select id="view-button" aria-label="Change the view">
						<option value="posters">Posters</option>
						<option value="table">Table</option>
					</select>
					<select id="sort-button" aria-label="Sort the list of volumes">
						<option value="title">Title</option>
						<option value="volume_number">Volume Number</option>
						<option value="year">Year</option>
						<option value="recently_added">Recently Added</option>
						<option value="publisher">Publisher</option>
					</select>
				</div>
			</div>
			<div id="library">
				<div class="space-taker"></div>
				<div class="lib-stats">
					<table>
						<tbody>
							<tr>
								<th>Volumes</th>
								<td id="volume-count"></td>
							</tr>
							<tr>
								<th>Monitored</th>
								<td id="volume-monitored-count"></td>
							</tr>
							<tr>
								<th>Unmonitored</th>
								<td id="volume-unmonitored-count"></td>
							</tr>
						</tbody>
					</table>
					<table>
						<tbody>
							<tr>
								<th>Issues</th>
								<td id="issue-count"></td>
							</tr>
							<tr>
								<th>Issues downloaded</th>
								<td id="issue-download-count"></td>
							</tr>
						</tbody>
					</table>
					<table>
						<tbody>
							<tr>
								<th>Files</th>
								<td id="file-count"></td>
							</tr>
							<tr>
								<th>Total file size</th>
								<td id="total-file-size"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
	</div>
</body>
</html>
