# Site Details
site_name: Kapowarr Docs
site_description: The official guide for Kapowarr 
site_author: Casvt
repo_url: https://github.com/Casvt/Kapowarr
edit_uri: blob/development/docs/
repo_name: Casvt/Kapowarr
docs_dir: ../docs



extra_css:
  - assets/css/extra.css

# Site appearance (logos, colours, icons)
theme:
  name: material
  language: en
  code_wrap: true
  features:
    - content.tabs.link
    - content.code.copy
    - header.autohide
    - navigation.expand
    - navigation.indexes
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
  favicon: assets/img/favicon.svg
  logo: assets/img/favicon.svg
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: Kapowarr
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: Kapowarr-dark
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

# Markdown extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - meta
  - pymdownx.details
  - pymdownx.highlight:
      guess_lang: true
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.saneheaders
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - sane_lists
  - toc:
      permalink: true
      toc_depth: 3
  - tables

# mkdocs function extensions
plugins:
  - search
  - git-revision-date-localized:
      type: timeago
      locale: en
      fallback_to_build_date: false
  - redirects:
      redirect_maps:
        'library-import.md': 'general_info/features.md#library-import'

# Navigation Layout
nav:
  - Home: index.md
  - Installation And Updating:
    - Introduction: installation/installation.md
    - Docker: installation/docker.md
    - Manual Install: installation/manual_install.md
    - Setup After Installation: installation/setup_after_installation.md
  - General Information:
    - Introduction: general_info/workings.md
    - Managing A Volume: general_info/managing_volume.md
    - Downloading: general_info/downloading.md
    - Matching: general_info/matching.md
    - Features: general_info/features.md
  - Beta Documentation:
    - Documentation: beta/beta.md
  - Settings:
    - Introduction: settings/settings.md
    - Media Management: settings/mediamanagement.md
    - Download: settings/download.md
    - Download Clients: settings/downloadclients.md
    - General: settings/general.md
  - FAQ: other_docs/faq.md
  - Other Docs:
    - Reporting: other_docs/reporting.md
    - FAQ: other_docs/faq.md
    - Rate Limiting: other_docs/rate_limiting.md
    - API: other_docs/api.md